/** Based on CSS style from snake.endavid.com */
body {
  text-transform: none;
  letter-spacing: 1px;
  font-family: sans-serif, Monaco, "Lucida Console";
  background-color: #2b2626;
  font-size: 10pt;
  margin:0;
  padding:0;
  color:#dbdbdb;
}

#page {
  background-color: #2b2626;
  width: 1295px;
  margin:auto;
  margin-top: 10px;
  padding: auto;
}

#sidemenu {
  color: #e6e6e6;
  float:left;
  width:285px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 10px;
  background-color: #5c5050;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

#sidemenuRight {
  color: #e6e6e6;
  float:right;
  width:340px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 10px;
  background-color: #5c5050;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

/* This just contains the logo for this style, usually inside #sidemenu
 * By setting a fixed width and margin-left & right to auto, we can center the div.
*/
#title {
  margin-left: auto ;
  margin-right: auto ;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

#mainarea {
  width: 600px;
  padding-top:0px;
  display: inline-block;
}

#header {
  height:140px;
  padding-left: 25px;
  padding-right:10px;
  background-color: #5c5050;
}

#contentarea {
  padding-left: 25px;
  padding-right:10px;
  line-height:14pt;
  padding-top: 10px;
  padding-bottom:10px;
  margin-bottom: 20px;
}

#footer {
  text-shadow: 1px 1px 1px black;
  width:870px;
  clear:both;
  height:30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  text-align:center;
  line-height:14pt;
  color: #c8c4a0;
}

#listarea {
  height: 600px;
  width: 430px;
  padding-left: 10px;
  padding-right:10px;
  line-height:14pt;
  padding-top: 10px;
  padding-bottom:10px;
  overflow: auto;
  float: left;
}

#productarea {
  padding: 10px;
  height: 600px;
  width: 430px;
  line-height:14pt;
  overflow: auto;
  float: right;
}

#infoDiv {
  background-color: #070704;
  border-left: solid;
  border-width: 5px;
  border-color: #AA9F9B;
  padding: 4px;
  margin: auto;
  margin-bottom: 8px;
  margin-top: 8px;
  width: 90%;
}

#progressBarDiv {
  position: relative;
  width: 95%;
  height: 16px;
  margin: auto;
  margin-bottom: 8px;
  margin-top: 8px;
  background-color: #272525;
}

#progressBar {
  position: absolute;
  width: 1%;
  height: 100%;
  background-color: #4CAF50;
}

canvas {
  border:1px solid #d3d3d3;
  background-color: gray;
}

h1 {
  font-family: Impact, Charcoal;
}

h3 {
  font-size: 18pt;
}

h4 {
  text-align: center;
  background-color: #044321;
  border-radius: 10px;
  -moz-border-radius: 10px;
}

emph {
  color: #32e34a;
}

a {
  color: #ff8000;
  text-decoration:none;
}

a:hover {
  color: lime;
  text-decoration:underline;
}

.center {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* ------------------------- IMAGES ----------------------- */

img {
border: none;
}

img.framed {
  border: 5px solid white;
  margin: 5px;
}

/* ------------------------- TABLES ----------------------- */

table {
	border: none;
  font-size: 10pt;
  align-self: center;
}

td {
  font-size: 8pt;
  color: #e6e6e6;
  background-color: #005252;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

td.selected {
  font-size: 10pt;
  color: #e6e6e6;
  background-color: #009999;
  border: 2px dotted #d3d3d3;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  cursor: pointer;
}

td.subgroup {
  font-size: 8pt;
  color: #e6e6e6;
  background-color: #006464;
  border: 1px dotted #009999;
  padding: 1px 10px 1px 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  cursor: pointer;
}

#header td {
  font-size: 10pt;
  padding:  5px 20px 5px 20px;
  vertical-align: middle;
}

#contentarea td {
  font-size: 10pt;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  -moz-border-radius: 8px;
}

input[type=number] {
  width: 8ex;
  padding: 4px;
}
input[type=text] {
  width: 8ex;
  padding: 4px;
}
input[type=checkbox] {
  margin-right: 1em;
}
input.range[type=number] {
  font-size: xx-small;
  width: 6ex;
  padding: 0px;
  border-style: none;
  text-align: center;
  vertical-align: super;
  color: #99AAAA;
  background: none;
}
input.range[type=number]::-webkit-inner-spin-button,
input.range[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input[type=range] {
  width: 200px;
}
input.three[type=range] {
  width: 72px;
}

.container {
  position: relative;
}
#canvas2D {
  background-color: transparent;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  pointer-events: none;
}
